@font-face {
  font-family: Hylia;
  src: url('../fonts/HyliaSerif/HyliaSerifBeta-Regular.otf');
}

@font-face {
  font-family: Charlemagne;
  src: url('../fonts/Charlemagne/Charlemagne.ttf');
}

* {
  box-sizing: border-box;
  color: black;
  font-family: Charlemagne, "Times New Roman", Times, serif;
  letter-spacing: 2px;
}

html,body {
  height: 100%;
}

body {
  background: url('../images/triforce2.jpg') no-repeat fixed center;
}

.letter-content {
  border-bottom: solid 2px #303030;
  font-size: 22px;
  width: 35px;
  height: 35px;
  margin-right: 5px;
  text-align: center;
}

.border-0 {
  border-bottom: 0;
}

.correct-guess {
  width: 26px;
  height: 26px;
  margin-right: 4px;
  text-align: center;
}

.display-5 {
  font-size: 30px;
  font-family: Hylia, "Times New Roman", Times, serif;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

#tries-left {
  font-size: 20px;
  font-weight: 600;
}

#win-loss-counter {
  font-size: 18px;
}

#main-content {
  background-color: rgba(255, 255, 255, 0.7);
}

@media(min-width: 576px) {
  .display-5 {
    font-size: 4.2rem;
  }
}
