@font-face {
  font-family: Hylia;
  src: url('../fonts/HyliaSerif/HyliaSerifBeta-Regular.otf');
}

@font-face {
  font-family: Charlemagne;
  src: url('../fonts/Charlemagne/Charlemagne.ttf');
}

* {
  box-sizing: border-box;
  color: black;
  font-family: Charlemagne, "Times New Roman", Times, serif;
  letter-spacing: 2px;
}

html {
  font-size: 12px;
}

html,body {
  height: 100%;
}

body {
  background: url('../images/triforce2.jpg') no-repeat fixed center;
}

.vertical-center {
  align-items: center;
  min-height: 100%;
  min-height: 100vh;
  display: flex;
}

#main-content {
  background-color: rgba(255, 255, 255, 0.85);
}

.main-header {
  font-size: 26px;
  font-family: Hylia, "Times New Roman", Times, serif;
}

#word-container {
  height: 60px;
}

.letter-content {
  border-bottom: solid 2px #303030;
  font-weight: 600;
  margin-right: 5px;
  text-align: center;
  width: 35px;
}

.border-0 {
  border-bottom: 0;
}

#correct-letters {
  height: 25px;
}

.correct-guess {
  height: 26px;
  margin-right: 4px;
  text-align: center;
  width: 20px;
}

#tries-left {
  font-size: 16px;
  font-weight: 600;
  height: 65px;
}

#win-loss-counter {
  font-size: 16px;
}

/* media queries */

@media(min-width: 400px) {
  .letter-content {
    font-size: 20px;
  }
}

@media(min-width: 576px) {
  .letter-content {
    font-size: 26px;
  }

  #correct-letters {
    font-size: 18px;
  }

  #tries-left {
    font-size: 20px;
  }

  #win-loss-counter {
    font-size: 20px;
  }
}

@media(min-width: 768px) {
  #main-content {
    height: 470px;
  }
  .main-header {
    font-size: 35px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 760px;
  }
}